             nav a{
                padding:15px;
                padding-bottom:4px;
                font-size:1em;
                text-decoration:none;
                color:white;
            }
            nav a:hover{
                border-bottom:2px blue;
                font-size: 1.5em;
                transition: .7s;
            }
            header{
                font-family: 'Anton', sans-serif;
            }
            div {
                font-family:arial, sans-serif;
                /*border: 1px solid black;    */
            }
            
            .row {
                margin: 10px;
            }
            
            .col {
               padding: 10px; 
               display: inline-block; 
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%;
        
            }
            td, th {
                border: 1px solid #000;
                text-align: left;
                padding: 8px;
                
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
/*            a:active {*/
/*    background-color: yellow;*/
/*}*/
u{
    color:blue;
    /*font-size:1.5em;*/
}
#prout, #caca{
    float:left;
}

#prout{
    padding-top:100px;
}
#caca{
    padding-left:150px;
}
footer{
    clear:left;
}