.container{
    margin: auto;
    background-color: #66ccff ;
    width: 80%;
    color: red;
    border-width: 2px;

}
.content{
    margin: auto;
    width: 90%;
}
.radios{
    margin: auto;
    width: 80%;
}
.submission{
    margin: auto;
    width: 40%;
}
.center{
    margin: auto;
    width: 70%;
}
h4{
    color: black;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
